 h3:first-child {
     color: pink;
 }
 p:nth-child(7) {
     color: green;
 }
 .text-box div p {
     color: red;
 }
 .yellow {
     color: yellow;
 }
 #greycol {
    color: grey;
 }
 .monday {
    background-color: pink;
 }
 .tuesday {
    background-color: red;
 }
 .wednesday {
    background-color: blue;
 }
 .thursday {
    background-color: green;
 }
.friday {
    background-color: brown;
}