 h3:first-child {
     color: pink;
 }
 p:nth-child(7) {
     color: green;
 }
 .text-box div p {
     color: red;
 }
 .yellow {
     color: yellow;
 }
 p:nth-child(3) {
     color: grey;
 }
 .pink {
    background-color: pink;
 }
 .red {
    background-color: red;
 }
 .blue {
    background-color: blue;
 }
 .green {
    background-color: green;
 }
.brovn {
    background-color: brown;
}